---
- name: Stop and remove Nexus containers
  command: docker compose down
  args:
    chdir: "{{ nexus_install_dir }}"
  register: compose_down
  changed_when: compose_down.stdout != ""
  ignore_errors: yes  # Игнорируем, если контейнеров нет

- name: Remove Nexus data directory
  file:
    path: "{{ nexus_install_dir }}/nexus-data"
    state: absent
  changed_when: true

- name: Remove Nginx data directory
  file:
    path: "{{ nexus_install_dir }}/nexus-nginx-data"
    state: absent
  changed_when: true
