---
- name: Stop and remove Nexus containers
  community.docker.docker_compose_v2:
    project_src: "{{ nexus_install_dir }}"
    state: absent
  ignore_errors: true

- name: Remove Nexus data directory
  ansible.builtin.file:
    path: "{{ nexus_install_dir }}/nexus-data"
    state: absent

- name: Remove Nginx data directory
  ansible.builtin.file:
    path: "{{ nexus_install_dir }}/nexus-nginx-data"
    state: absent
