---
- name: Stop and remove Nexus containers
  command: docker compose down
  args:
    chdir: "{{ playbook_dir }}"
  register: compose_down
  changed_when: compose_down.stdout != ""
  ignore_errors: yes  # Игнорируем, если контейнеров нет

- name: Remove Nexus data directory
  file:
    path: ./nexus-data
    state: absent
  changed_when: true

- name: Remove Nginx data directory
  file:
    path: ./nexus-nginx-data
    state: absent
  changed_when: true
